@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

.wrapper {
  width:730px;
  margin:0 auto;
}

img {
  max-width:100%;
}

header {
  width:200px;
  float:left;
  position:fixed;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

